.focus [data-workout-header] { padding-block: 0.5rem; }
.options { flex: 0 0 auto; }
.options[open] { flex: 1 0 100%; }
.focus div:has(> .options[open]) { flex-wrap: wrap; }
.options > div { margin-top: 0.5rem; }
.options summary { list-style: none; }
.options summary::-webkit-details-marker { display: none; }
